extends layout.pug

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href='/')
                img.img-fluid(src='logo.png', alt='Logo', width='50')
                |   Gymbuds
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    if user 
                        li.nav-item 
                            a.nav-link(href='/findFriends') Find New Friends
                ul.navbar-nav(style='display: flex; align-items: center;')
                    if user
                        li.nav-item.dropdown
                            a.nav-link(class="btn dropdown-toggle", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                                i(class="bi bi-person-circle profile-icon")
                            ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dropdownMenuButton")
                                li 
                                    .dropdown-item.dropdown-header(style="text-align: center; color: #000;") #{user.first_name} #{user.last_name}
                                div.dropdown-divider
                                li 
                                    a.dropdown-item(href="/profile")
                                        i(class="bi bi-gear-fill" style="font-style: normal")  Profile Settings
                                li 
                                    a.dropdown-item(href="/logout") 
                                        i(class="bi bi-box-arrow-right" style="font-style: normal")  Logout

    body

        //- This is the navigation sidebar for the dashboard
        div(class="container-fluid")
            .row
                //- Sidebar
                div(id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark bg-dark" style="width: 280px; height: 100vh")              
                    a(class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none")
                        svg(class="bi me-2", width="40", height="32")
                            span(class="fs-4")
                            |    #{user.first_name}'s Dashboard
                    hr(class="my-3", style="color: gray")
                    ul(class="nav nav-pills flex-column mb-auto")
                        li(class="nav-item")
                            a(href="/dashboard" class="nav-link", aria-current="page")
                                svg(class="bi me-2", width="16", height="16")
                                    i(class="bi bi-heart-pulse")
                                    |   Workouts
                        li(class="nav-item")
                            a(href="/recap" class="nav-link" aria-current="page")
                                svg(class="bi me-2", width="16", height="16")
                                    i(class="bi bi-arrow-counterclockwise")
                                    |   Latest Recap 
                        li(class="nav-item")
                            a(class="nav-link active" aria-current="page")
                                svg(class="bi me-2", width="16", height="16")
                                    i(class="bi bi-person-lines-fill")
                                    |   Friends 
                div(class="col-md-9" style="color: white")
                    .container.mt-5
                        each friend in friends
                            .row.justify-content-center
                                .col-md-6
                                    a(href="/u/"+friend.username class="card workout-card" style="margin: 5px 0; text-decoration: none")
                                        .card-body
                                            h4.card-title #{friend.first_name} #{friend.last_name}
                                            p.card-text
                                                | Username: #{friend.username} 
            
