extends layout.pug

block content 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href='/')
                img.img-fluid(src="/logo.png", alt='Logo', width='50')
                |   Gymbuds
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    if user
                        li.nav-item
                            a.nav-link(href='/dashboard') Dashboard 
                ul.navbar-nav
                    if user
                        li.nav-item.dropdown
                            a.nav-link(class="btn dropdown-toggle", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                                i(class="bi bi-person-circle profile-icon")
                            ul.dropdown-menu.dropdown-menu-end(aria-labelledby="dropdownMenuButton")
                                li 
                                    .dropdown-item.dropdown-header(style="text-align: center; color: #000;") #{user.first_name} #{user.last_name}
                                div.dropdown-divider
                                li 
                                    a.dropdown-item(href="/profile")
                                        i(class="bi bi-gear-fill" style="font-style: normal")  Profile Settings
                                li 
                                    a.dropdown-item(href="/logout") 
                                        i(class="bi bi-box-arrow-right" style="font-style: normal")  Logout
                    else
                        li.nav-item
                            a.nav-link(href='/login') Login

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    
    //- Below is all of the scripts for dynamic exercise addition/deletion
    script.
        var mainRowCount = 1;
        var accessoryRowCount = 1;
        //- Main lift rows addition
        $(document).ready(function() {
            $("#addMainRowButton").click(function() {
                
                //Clones the target row
                var $row = $('#mainRow').clone();
                mainRowCount++;
                $('#mainRowCount').val(mainRowCount);
                console.log(mainRowCount);

                var $rowCount = $('#mainRowContainer .row').length; 

                //This function makes sure the exercise selection ids maintain uniqueness
                $row.find('select[name="m_exercise-dropdown"]').each(function(){
                    var currentName = $(this).attr('name')
                    $(this).attr('id', (currentName + $rowCount))
                })

                //This function makes sure the form input ids maintain uniqueness (reps, sets, weight)
                $row.find('input').each(function() {
                    var currentName = $(this).attr('name');
                    $(this).attr('id', (currentName + $rowCount))
                })

                //Clears the text boxes on the cloned row
                $row.find(":text").val("");

                //Appends the targeted row to the overbearing container
                $("#mainRowContainer").append($row);
            });
        });

        //- Accesory lift rows addition
        $(document).ready(function() {
            $("#addAccesoryRowButton").click(function() {
                //Clones the target row
                var $row = $('#accesoryRow').clone();
                accessoryRowCount++;
                $('#accessoryRowCount').val(accessoryRowCount);
                console.log(accessoryRowCount);

                var $rowCount = $('#accesoryRowContainer .row').length; 

                //This function makes sure the exercise selection ids maintain uniqueness
                $row.find('select[name="a_exercise-dropdown"]').each(function(){
                    var currentName = $(this).attr('name')
                    $(this).attr('id', (currentName + $rowCount))
                })

                //This function makes sure the form input ids maintain uniqueness (reps, sets, weight)
                $row.find('input').each(function() {
                    var currentName = $(this).attr('name');
                    $(this).attr('id', (currentName + $rowCount))
                })

                //Clears the text boxes on the cloned row
                $row.find(":text").val("");

                //Appends the targeted row to the overbearing container
                $("#accesoryRowContainer").append($row);
            });
        });

        //- Main lift rows deletion
        $(document).ready(function() {
            $('#removeMainRowButton').click(function(){
                if(mainRowCount > 1){
                    mainRowCount--;
                    $('#mainRowCount').val(mainRowCount);
                    console.log(mainRowCount);
                }

                //Check the count of rows
                var rowCount = $('#mainRowContainer .row').length;

                //This ensures that there is always at least one row to copy for the addition.+
                if(rowCount >= 2){
                    //Removes the latest row
                    $('#mainRowContainer .row:last').remove();
                }
            })
        })

        //- Accesory lift rows deletion
        $(document).ready(function() {
            $('#removeAccesoryRowButton').click(function(){
                if(accessoryRowCount > 1){
                    accessoryRowCount--;
                    $('#accessoryRowCount').val(accessoryRowCount);
                    console.log(accessoryRowCount);
                }

                //Check the count of rows
                var rowCount = $('#accesoryRowContainer .row').length;

                //This ensures that there is always at least one row to copy for the addition.+
                if(rowCount >= 2){
                    //Removes the latest row
                    $('#accesoryRowContainer .row:last').remove();
                }
            })
        })


    body
        .container 
            form(id='postForm', action=`/${user.id}/newWorkout`, method='post').form
                .row-justify-content-center.mt-4 
                    .col-justfiy-content-center.md-6 
                        .card.mains-card 
                            .card-header 
                                h4.card-title Main Lifts 
                            .card-body
                                .container(id='mainRowContainer')
                                    .row(id='mainRow')
                                        .col
                                            label(for='exercise') Select Exercise: 
                                            select(name='m_exercise-dropdown', id='m_exercise-dropdown', class='scrollable-dropdown')
                                                each exercise in exercises
                                                    if exercise.classification == 'Main' 
                                                        option(value=exercise.id)= exercise.name
                                        .col
                                            label(for='sets') Set Count:
                                            input.form-control(type='text', placeholder="Ex. 2", name='m_sets', id='m_sets')
                                        .col
                                            label(for='reps') Rep Count:
                                            input.form-control(type='text', placeholder="Ex. 5", name='m_reps', id='m_reps')
                                        .col
                                            label(for='weight') Weight (lbs):
                                            input.form-control(type='text', placeholder="Ex. 225", name='m_weight', id='m_weight')
                                        p
                                        hr
                                .row
                                    .col
                                        button(type="button", id='addMainRowButton' class="btn btn-success btn-block") Add Another Main
                                    .col-auto 
                                        button(type="button", id='removeMainRowButton', class="btn btn-danger btn-block") Delete Last Row
                .row-justify-content-center.mt-4 
                    .col-justfiy-content-center.md-6 
                        .card.accesory-card 
                            .card-header 
                                h4.card-title Accessories 
                            .card-body 
                                .container(id='accesoryRowContainer')
                                    .row(id='accesoryRow')
                                        .col
                                            label(for='exercise') Select Exercise: 
                                            select(name='a_exercise-dropdown', id='a_exercise-dropdown', class='scrollable-dropdown')
                                                each exercise in exercises
                                                    if exercise.classification == 'Accessory' 
                                                        option(value=exercise.id)= exercise.name
                                        .col
                                            label(for='sets') Set Count:
                                            input.form-control(type='text', placeholder="Ex. 3", name='a_sets', id='a_sets')
                                        .col
                                            label(for='reps') Rep Count:
                                            input.form-control(type='text', placeholder="Ex. 10", name='a_reps', id='a_reps')
                                        .col
                                            label(for='weight') Weight (lbs):
                                            input.form-control(type='text', placeholder="Ex. 85", name='a_weight', id='a_weight')
                                        p
                                        hr
                                .row
                                    .col
                                        button(type="button", id="addAccesoryRowButton", class="btn btn-success btn-block") Add Another Accessory
                                    .col-auto 
                                        button(type="button", id='removeAccesoryRowButton', class="btn btn-danger btn-block") Delete Last Row
                .row
                    .col-md-6
                        .card.my-4
                            .card-header 
                                h4.card-title Time Spent 
                            .card-body
                                .container(id='timeLoggingContainer')
                                    .col
                                        .row
                                            .col-md-4.text-center
                                                label(for='startTime') Time Started 
                                                input.form-control(type='time', id='startTime', name='startTime', required)
                                            .col-md-4.text-center
                                                label(for='endTime') Time Ended 
                                                input.form-control(type='time', id='endTime', name='endTime', required)
                    .col-md-6
                        .card.my-4
                            .card-header 
                                h4.card-title Finish Workout
                            .card-body
                                .container-submissionContainer
                                    .row-justify-content-center.mt-4.md-6
                                        .col-saveButton
                                            input(type="hidden", name="mainRowCount", id="mainRowCount", value='0')
                                            input(type="hidden", name="accessoryRowCount", id="accessoryRowCount", value='0')
                                            button(type="submit", class="btn btn-info btn-block") Save Workout
                        
